<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<widget id="com.websquare.listershealth" versionCode="1" version="0.0.6" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0" xmlns:gap = "http://phonegap.com/ns/1.0">
	<name>Listers Health</name>
	<description>
		Listers Health Ladies Gym Sample App
	</description>
	<author email="wojciech@websquare.co.uk" href="http://www.websquare.co.uk">
		Websquare
	</author>
	<content src="index.html"/>
	
	<preference name="phonegap-version" value="cli-6.0.0" />
	<!--<preference name="phonegap-version" value="cli-5.4.1" />-->
	<preference name="android-build-tool" value="gradle" />
	
	<preference name="webviewbounce" value="false"/>
	<preference name="UIWebViewBounce" value="false"/>
	<preference name="DisallowOverscroll" value="true"/>
	<preference name="android-minSdkVersion" value="16"/>
	<preference name="BackupWebStorage" value="none"/>
	<preference name="SplashScreen" value="screen"/>
	<preference name="SplashScreenDelay" value="5000"/>
	<preference name="fullscreen" value="true" />
	<preference name="orientation" value="portrait" />
	<feature name="StatusBar">
		<param name="ios-package" value="CDVStatusBar" onload="true"/>
	</feature>
	
	<access origin="*"/>
	<plugin name="cordova-plugin-whitelist" source="npm" />
	<allow-intent href="http://*/*" />
	<allow-intent href="https://*/*" />
	<allow-intent href="tel:*" />
	<allow-intent href="sms:*" />
	<allow-intent href="mailto:*" />
	<allow-intent href="geo:*" />
	<platform name="android">
		<allow-intent href="market:*" />
	</platform>
	
	<!-- Core plugins -->
	<plugin name="cordova-plugin-device" source="npm" />
	<plugin name="cordova-plugin-splashscreen" source="npm" />
	<plugin name="cordova-plugin-vibration" source="npm" />

	<!-- Third party plugins -->
	<!--<gap:plugin name="pushbots-cordova-plugin" source="npm" />-->
	
	<plugin name="cordova-plugin-google-analytics" source="npm" />
	<plugin name="cordova-plugin-admobpro" source="npm" />
	<plugin spec="https://github.com/katzer/cordova-plugin-local-notifications.git" source="git" />
	<plugin name="onesignal-cordova-plugin" source="npm" />
	
	<icon src="icon.png" />
	<gap:splash src="splash.png" />
	<platform name="android">
		<icon src="resources/android/icon/drawable-ldpi-icon.png" 		density="ldpi"/>
		<icon src="resources/android/icon/drawable-mdpi-icon.png" 		density="mdpi"/>
		<icon src="resources/android/icon/drawable-hdpi-icon.png" 		density="hdpi"/>
		<icon src="resources/android/icon/drawable-xhdpi-icon.png" 		density="xhdpi"/>
		<icon src="resources/android/icon/drawable-xxhdpi-icon.png" 	density="xxhdpi"/>
		<icon src="resources/android/icon/drawable-xxxhdpi-icon.png" 	density="xxxhdpi"/>
	</platform>
	<gap:splash src="resources/android/splash/drawable-port-ldpi-screen.png"       gap:platform="android" gap:qualifier="port-ldpi" />
    <gap:splash src="resources/android/splash/drawable-port-mdpi-screen.png"       gap:platform="android" gap:qualifier="port-mdpi" />
    <gap:splash src="resources/android/splash/drawable-port-hdpi-screen.png"       gap:platform="android" gap:qualifier="port-hdpi" />
    <gap:splash src="resources/android/splash/drawable-port-xhdpi-screen.png"      gap:platform="android" gap:qualifier="port-xhdpi" />
  	
</widget>