<ion-view view-title="Blog">
    <ion-content>
    	<ion-refresher on-refresh="doRefresh()"></ion-refresher>
    	<ion-list>
            <ion-item class="item-icon-right item-thumbnail-left" ng-repeat="post in posts track by $index" href="#/app/blog/{{post.id}}" track>
                <img ng-if="post.post_thumbnail" ng-src="{{post.post_thumbnail}}" />
                <h2 ng-bind-html="post.post_title"></h2>
                <p ng-if="post.post_excerpt" ng-bind-html="post.post_excerpt"></p>
                <i class="icon ion-chevron-right icon-accessory"></i>
            </ion-item>
        </ion-list>
        
        <ion-infinite-scroll
        ng-if="moreDataExists()"
        on-infinite="loadMore()"
        distance="1%"
        immediate-check="false">
        </ion-infinite-scroll>
    </ion-content>
</ion-view>