<ion-view view-title="Contact Us">
    <ion-content has-header="true" class="has-footer">
    
		<div id="map" data-tap-disabled="true">
        	<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2355.8076604696093!2d-1.7822156841682233!3d53.81070614752802!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x487be41d885c75cb%3A0x7226d1149a79e75f!2sListers+Health!5e0!3m2!1sen!2suk!4v1454078777963" width="600" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
        
        
        <div class="card list">
        	<div class="item item-divider item-icon-left">
            	<i class="icon ion-android-map"></i>
            	Listers Health           
            </div>
        	<div class="item item-text-wrap">
            	<div class="row">
                 	<div class="col">
                    Lister Mill, Heaton Road,<br>
                    Bradford, BD9 4SH
                	</div>
                </div>
            </div>
        </div>
        
        <div class="card list">
        	<div class="item item-divider item-icon-left">
            	<i class="icon ion-android-time"></i>
            	Opening Hours          
            </div>
        	<div class="item item-text-wrap">
                 <div class="row">
                 	<div class="col">
                    Monday - Thursday
                    </div>
                    <div class="col">
                    7am - 9:30pm
                    </div>
                 </div>
            </div>
            <div class="item item-text-wrap">
                 <div class="row">
                 	<div class="col">
                    Friday
                    </div>
                    <div class="col">
                    7am - 9pm
                    </div>
                 </div>
            </div>
            <div class="item item-text-wrap">
                 <div class="row">
                 	<div class="col">
                    Saturday
                    </div>
                    <div class="col">
                    9am - 4pm
                    </div>
                 </div>
            </div>
            <div class="item item-text-wrap">
                 <div class="row">
                 	<div class="col">
                    Sunday
                    </div>
                    <div class="col">
                    10am - 4pm
                    </div>
                 </div>
            </div>
        </div>
        
    </ion-content>
</ion-view>