<ion-view view-title="Home">
    <ion-content>
    	<a href="#">
    		<img src="img/home-banner.jpg" alt="Welcome to Listers Health" class="responsive-image">
        </a>
        <div class="padding text-center">
            <h2>Welcome to Listers Health</h2>
            <h4>Bradford's Women Only Gym & Wellbeing Centre</h4>
            <p>Bradford’s ladies only gym & wellbeing centre. The former Listers Ladies Gym is transformed as a whole new ladies only health centre. Besides the redecorated gym, we now also offer you many different and fun classes, a relaxing steam room, an infrared sauna and a new beauty salon.</p>
        </div>
        <div class="padding text-center">
        	<a href="#/app/join" class="button button-balanced" nav-clear menu-close>Join Today</a>
        </div>
    </ion-content>
</ion-view>