<ion-side-menus enable-menu-with-back-views="true">

    <ion-side-menu-content>
   		<ion-nav-bar class="bar-dark">
            <ion-nav-back-button>
            </ion-nav-back-button>
    
            <ion-nav-buttons side="left">
                <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
            </ion-nav-buttons>
    	</ion-nav-bar>
    	<ion-nav-view name="menuContent"></ion-nav-view>
        
        
        <ion-footer-bar class="bar-stable">
        	Next Class Time
        </ion-footer-bar>
        
    </ion-side-menu-content>
    
    
    <!-- Left menu -->
	<ion-side-menu side="left">
        <!--
        <ion-header-bar class="bar-balanced">
        	<h1 class="title">Listers Health</h1>
        </ion-header-bar>
        -->
        
        <ion-content>
            <ion-list>
            
            	<ion-item class="item item-icon-left" nav-clear menu-close href="#/app/home">
                    <i class="icon ion-ios-home-outline"></i>
                    Home
                </ion-item>
                <!--
                <ion-item class="item item-icon-left" nav-clear menu-close href="#/app/about">
                    <i class="icon ion-ios-home-outline"></i>
                    About
                </ion-item>
                -->
                <ion-item class="item item-icon-left" nav-clear menu-close href="#/app/blog">
                	<i class="icon ion-ios-list-outline"></i>
               		Blog
                </ion-item>
                <ion-item class="item item-icon-left" nav-clear menu-close href="#/app/classes">
                	<i class="icon ion-ios-pulse"></i>
               		Classes
                </ion-item>
                <ion-item class="item item-icon-left" nav-clear menu-close href="#/app/timetable">
                    <i class="icon ion-ios-clock-outline"></i>
                    Timetable
                </ion-item>
                <ion-item class="item item-icon-left" nav-clear menu-close href="#/app/contact">
                    <i class="icon ion-ios-navigate-outline"></i>
                    Contact
                </ion-item>
            	
            </ion-list>
        </ion-content>
        
        <ion-footer-bar class="bar-stable">
        	<h2>Listers Health Ladies Gym</h2>
        </ion-footer-bar>
        
        
    </ion-side-menu>
    
</ion-side-menus>