<ion-view view-title="Timetable">

    <ion-tabs class="tabs-stable tabs-icon-only tabs-striped tabs-top">
    	
        <ion-tab title="Mon" on-select="loadTimetable('153')">
        	<ion-nav-view name="tab-monday">
            	<ion-content padding="true" has-header="true" class="has-footer">
                    <ion-list>
                        <ion-item ng-repeat="class in classes" class="item-icon-right">
                        	<h2>{{class.title}}</h2>
                			<h4>{{class.start}} - {{class.end}}</h4>
                            <button class="button button-icon icon" ng-class="iconClass('{{class.id}}')" ng-click="scheduleClassNotification(class.id, class.class_id, class.title, class.start, class.weekday)"></button>
                        </ion-item>
                    </ion-list>
                </ion-content>
            </ion-nav-view>
        </ion-tab>
        
        <ion-tab title="Tue" on-select="loadTimetable('154')">
        	<ion-nav-view name="tab-tuesday">
            	<ion-content padding="true" has-header="true" class="has-footer">
                    <ion-list>
                        <ion-item ng-repeat="class in classes" class="item-icon-right" ng-click="scheduleClassNotification(class.id, class.class_id, class.title, class.start, class.weekday)">
                        	<h2>{{class.title}}</h2>
                			<h4>{{class.start}} - {{class.end}}</h4>
                            <button class="button button-icon icon" ng-class="iconClass(class.id)" ng-click="scheduleClassNotification(class.id, class.class_id, class.title, class.start, class.weekday)"></button>
                        </ion-item>
                    </ion-list>
                </ion-content>
            </ion-nav-view>
        </ion-tab>
        
        <ion-tab title="Wed" on-select="loadTimetable('155')">
        	<ion-nav-view name="tab-wednesday">
            	<ion-content padding="true" has-header="true" class="has-footer">
                    <ion-list>
                        <ion-item ng-repeat="class in classes" class="item-icon-right" ng-click="scheduleClassNotification(class.id, class.class_id, class.title, class.start, class.weekday)">
                        	<h2>{{class.title}}</h2>
                			<h4>{{class.start}} - {{class.end}}</h4>
                            <button class="button button-icon icon" ng-class="iconClass(class.id)" ng-click="scheduleClassNotification(class.id, class.class_id, class.title, class.start, class.weekday)"></button>
                        </ion-item>
                    </ion-list>
                </ion-content>
            </ion-nav-view>
        </ion-tab>
        
        <ion-tab title="Thu" on-select="loadTimetable('156')">
        	<ion-nav-view name="tab-thursday">
            	<ion-content padding="true" has-header="true" class="has-footer">
                    <ion-list>
                        <ion-item ng-repeat="class in classes" class="item-icon-right" ng-click="scheduleClassNotification(class.id, class.class_id, class.title, class.start, class.weekday)">
                        	<h2>{{class.title}}</h2>
                			<h4>{{class.start}} - {{class.end}}</h4>
                            <button class="button button-icon icon" ng-class="iconClass(class.id)" ng-click="scheduleClassNotification(class.id, class.class_id, class.title, class.start, class.weekday)"></button>
                        </ion-item>
                    </ion-list>
                </ion-content>
            </ion-nav-view>
        </ion-tab>
        
        <ion-tab title="Fri" on-select="loadTimetable('157')">
        	<ion-nav-view name="tab-friday">
            	<ion-content padding="true" has-header="true" class="has-footer">
                    <ion-list>
                        <ion-item ng-repeat="class in classes" class="item-icon-right" ng-click="scheduleClassNotification(class.id, class.class_id, class.title, class.start, class.weekday)">
                        	<h2>{{class.title}}</h2>
                			<h4>{{class.start}} - {{class.end}}</h4>
                            <button class="button button-icon icon" ng-class="iconClass(class.id)" ng-click="scheduleClassNotification(class.id, class.class_id, class.title, class.start, class.weekday)"></button>
                        </ion-item>
                    </ion-list>
                </ion-content>
            </ion-nav-view>
        </ion-tab>
        
        <ion-tab title="Sat" on-select="loadTimetable('158')">
        	<ion-nav-view name="tab-saturday">
            	<ion-content padding="true" has-header="true" class="has-footer">
                    <ion-list>
                        <ion-item ng-repeat="class in classes" class="item-icon-right" ng-click="scheduleClassNotification(class.id, class.class_id, class.title, class.start, class.weekday)">
                        	<h2>{{class.title}}</h2>
                			<h4>{{class.start}} - {{class.end}}</h4>
                            <button class="button button-icon icon" ng-class="iconClass(class.id)" ng-click="scheduleClassNotification(class.id, class.class_id, class.title, class.start, class.weekday)"></button>
                        </ion-item>
                    </ion-list>
                </ion-content>
            </ion-nav-view>
        </ion-tab>
        
        <ion-tab title="Sun" on-select="loadTimetable('159')">
        	<ion-nav-view name="tab-sunday">
            	<ion-content padding="true" has-header="true" class="has-footer">
                    <ion-list>
                        <ion-item ng-repeat="class in classes" class="item-icon-right" ng-click="scheduleClassNotification(class.id, class.class_id, class.title, class.start, class.weekday)">
                        	<h2>{{class.title}}</h2>
                			<h4>{{class.start}} - {{class.end}}</h4>
                            <button class="button button-icon icon" ng-class="iconClass(class.id)" ng-click="scheduleClassNotification(class.id, class.class_id, class.title, class.start, class.weekday)"></button>
                        </ion-item>
                    </ion-list>
                </ion-content>
            </ion-nav-view>
        </ion-tab>

	</ion-tabs>

</ion-view>