<ion-view view-title="Timetable">

	<ion-tabs class="tabs-stable tabs-icon-only tabs-striped tabs-top">
    	
        <ion-tab title="Monday" on-select="loadTimetable('153')">
        	<ion-nav-view name="tab-monday">
            	<ion-content padding="true" has-header="true">
                    <ion-list>
                        <ion-item ng-repeat="class in classes">
                        	<h2>{{class.title}}</h2>
                			<h4>{{class.start}} - {{class.end}}</h4>
                        </ion-item>
                    </ion-list>
                </ion-content>
            </ion-nav-view>
        </ion-tab>
        
        <ion-tab title="Tuesday" on-select="loadTimetable('154')">
        	<ion-nav-view name="tab-tuesday">
            	<ion-content padding="true" has-header="true">
                	Tuesday
                </ion-content>
            </ion-nav-view>
        </ion-tab>
        
        <ion-tab title="Wednesday" on-select="loadTimetable('155')">
        	<ion-nav-view name="tab-wednesday">
            	<ion-content padding="true" has-header="true">
                	Wednesday
                </ion-content>
            </ion-nav-view>
        </ion-tab>
        
        <ion-tab title="Thursday" on-select="loadTimetable('156')">
        	<ion-nav-view name="tab-thursday">
            	<ion-content padding="true" has-header="true">
                	Thursday
                </ion-content>
            </ion-nav-view>
        </ion-tab>
        
        <ion-tab title="Friday" on-select="loadTimetable('157')">
        	<ion-nav-view name="tab-friday">
            	<ion-content padding="true" has-header="true">
                	Friday
                </ion-content>
            </ion-nav-view>
        </ion-tab>
        
        <ion-tab title="Saturday" on-select="loadTimetable('158')">
        	<ion-nav-view name="tab-saturday">
            	<ion-content padding="true" has-header="true">
                	Saturday
                </ion-content>
            </ion-nav-view>
        </ion-tab>
        
        <ion-tab title="Sunday" on-select="loadTimetable('159')">
        	<ion-nav-view name="tab-sunday">
            	<ion-content padding="true" has-header="true">
                	Sunday
                </ion-content>
            </ion-nav-view>
        </ion-tab>
        
        
   	
	</ion-tabs>

</ion-view>

